# Analysis

In [2]:
import bestreads.text as text
import pandas as pd

data = pd.read_csv('./data/goodreads_books.csv')

## Text Cleaning

In [5]:
data = text.add_english_column(data)
english_descriptions = data.description[data.english_description]
cleaned_descriptions = text.clean_text(english_descriptions)

## Grouping Descriptions by Genre

In [6]:
genre_and_votes = text.get_genres(data.genre_and_votes[data.english_description])
combined = text.combine_genres(genre_and_votes.genre_1, cleaned_descriptions)
tf_idf_table = text.tf_idf(combined)

/home/adam/Documents/bestreads/bestreads/text.py:79: RuntimeWarning: NaN values detected in genre_and_votes; these will beskipped
  + 'skipped', category=RuntimeWarning)
100%|███████████████████████████████████████████████| 43936/43936 [00:00<00:00, 172905.81it/s]

## Calculating TF-IDF

In [7]:
tf_idf_table.head()

,Young Adult-Coming Of Age,Paranormal Urban Fantasy,Fantasy-High Fantasy,Comics-Comic Book,Romance,Marriage,Literature-American,Psychology-Counselling,Nature-Outdoors,Cultural-Poland,...,Fantasy-Magic,Paranormal-Shapeshifters,Novels-Light Novel,Art,Christian,Games-Role Playing Games,Science,LGBT-Gay,Diary,Buisness
thi,0.002494,0.001841,NaN,NaN,0.000856,0.001511,0.000856,0.001249,NaN,NaN,...,0.000393,0.001789,0.001288,0.002344,0.002296,0.001427,0.001950,0.000755,0.006378,0.004961
one,0.002839,NaN,0.014992,NaN,0.002882,0.001274,0.000406,NaN,NaN,0.009411,...,0.005957,0.003395,0.002730,0.001603,0.002115,0.001160,0.001676,0.002865,NaN,NaN
mani,0.010696,NaN,NaN,NaN,0.000463,NaN,NaN,NaN,NaN,NaN,...,0.002525,0.000384,NaN,0.001753,0.002248,NaN,0.002175,NaN,NaN,NaN
intrigu,0.008588,NaN,NaN,NaN,0.000502,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.001304,0.000235,0.000259,0.001755,0.000765,NaN,NaN,NaN
tale,0.008351,NaN,NaN,0.004223,0.000546,0.000937,0.003580,NaN,NaN,NaN,...,0.004380,NaN,0.001690,0.000456,0.000437,NaN,0.000496,0.002107,NaN,NaN

In [10]:
tf_idf_table.shape

(130281, 428)