# Analysis

In [18]:
import bestreads.text as text
import pandas as pd

datadir = '../data/processed/'
processed_data_train = pd.read_csv(
    datadir + 'goodreads_books_train_processed.csv')
processed_data_test = pd.read_csv(
    datadir + 'goodreads_books_test_processed.csv')
tf_idf_table = pd.read_csv(
    datadir + 'tf_idf_table_train.csv')

In [19]:
genre_and_votes_train = processed_data_train[['genre_1', 'votes_1']]
genre_and_votes_test = processed_data_test[['genre_1', 'votes_1']]
cleaned_descriptions_train = processed_data_train['cleaned_descriptions']
cleaned_descriptions_test = processed_data_test['cleaned_descriptions']

In [21]:
tf_idf_table.head()

,word,Social Issues,Textbooks,Philosophy,Suspense,World War II,Adult Fiction,Paranormal,Epic,Womens Fiction,...,New York,Realistic Fiction,Linguistics,Teaching,Fan Fiction,Inspirational,Combat,Biography Memoir,Historical,Nurses
0,jimmi,0.029893,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000211,...,0.000000,0.000599,0.0,0.000000,0.000000,0.0,0.00000,0.000000,0.000105,0.000000
1,reev,0.066318,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
2,hi,0.009979,0.001744,0.003034,0.004364,0.001421,0.003667,0.002613,0.003647,0.000906,...,0.001648,0.002439,0.0,0.000898,0.002154,0.0,0.01031,0.000422,0.002976,0.001988
3,luck,0.021380,0.000000,0.000000,0.000000,0.000666,0.000102,0.000088,0.000000,0.000252,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.000000,0.000144,0.000000
4,wildlif,0.032555,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.000000,0.000021,0.000000